*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.container{
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f;
    border-radius: 10px;
    margin-top: 25vh;
    margin-left: 20vw;
}
h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;

}
/* input{
    width:40vw;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
     */
/* } */
input[type="text"]{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 5px solid #df5684;
    border-radius: 10px;
    padding-left: 15px;
}
input[type="text"]:focus{
    border-color: #d85f83;
    outline: none;
}
button{
    width: 60px;
    height: 40px;
    margin-left: 20vw;
    curson:pointer;
    border-radius:7px;
}
p{
    margin-left: 15vw;
    margin-top: 20px;
}
